/*
    公用样式文件，可以分文件
*/
@import '~antd/dist/antd.css';

$green: #4db14d;

html {
  box-sizing: border-box;
  font: 18pt 'Oswald';
  letter-spacing: 0.05em;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.3em;
  margin: 0;
}

// .app-header {
//   width: 100%;
//   height: 67px;
// }

// .app-left-nav {
//   position: fixed;
//   left: 0;
//   width: 200px;
//   height: 100%;
//   margin-top: 63px;
// }

a {
  text-decoration: none;
  color: blue;
}

// button {
//   border: none;
//   border-radius: 0.3em;
//   padding: 0.5em 1em;
//   background-color: $green;
//   color: #fff;
//   cursor: pointer;
//   outline: 0;
//   font-size: 15pt;
// }
