 
@import 'reset.scss';

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.home {
  text-align: center;
}
.ets-ui-unn {
  width: 980px;
  margin: 0 auto;
}
.ets-ui-wrap {
  background: url(../images/ets-ui-main.png) 0 -600px repeat-x #CDD2D8;
}