.ets-ui-acc-wrap {
  width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    background-color: #000\9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    overflow: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color .3s,opacity .3s;
    -moz-transition: background-color .3s,opacity .3s;
    -ms-transition: background-color .3s,opacity .3s;
    -o-transition: background-color .3s,opacity .3s;
    transition: background-color .3s,opacity .3s;
}
.ets-ui-acc-wrap.ets-acc-open {
  background-color: rgba(0,0,0,.96);
  opacity: 1;
}
.ets-ui-acc-wrap .ets-ui-acc .ets-ui-acc-hd {
  background-color: #2e353e;
  -webkit-tap-highlight-color: transparent;
}
.ets-ui-acc-wrap .ets-ui-acc .ets-ui-acc-hd .ets-ui-acc-hd-main {
  width: 980px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
.ets-act-hd {
  min-height: 40px;
  width: 100%;
}
.ets-ui-acc-wrap .ets-ui-acc {
  top: 153px;
  height: 632px;
  overflow: visible;
  position: relative;
}
.ets-ui-acc-wrap .ets-ui-acc .ets-ui-acc-hd .ets-ui-acc-hd-main .ets-ui-acc-step-title {
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  float: left;
}
.ets-ui-acc-wrap .ets-ui-acc .ets-ui-acc-hd .ets-ui-acc-hd-main .ets-ui-acc-btn-close {
  width: 42px;
  height: 42px;
  background: url(../../assets/images/ets-ui-main.png) 0 -250px no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 9999;
}
.ets-ui-acc-wrap .ets-ui-acc .ets-ui-acc-bd {
  background-color: #dedfe0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.ets-ui-acc-wrap .ets-ui-acc .ets-ui-acc-bd .ets-ui-acc-bd-main {
  min-height: 540px;
  margin: 0 auto;
}
.ets-activity {
  width: 980px;
  margin: 0 auto;
  clear: both;
  text-align: center;
  position: relative;
}
.ets-activity .ets-act-hd {
  min-height: 45px;
}
.ets-act-lpn-view-wrap {
  float: left;
  padding: 5px;
  width: 908px;
  height: 458px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px #aaa;
  background: #ddd;
}
.ets-act-lpn-section strong {
  font-weight: 700;
  padding: 0 5px;
}
.ets-act-lpn-section {
    height: 445px;
    position: relative;
    padding: 15px;
    background: #fff;
    text-align: left;
    overflow-y: auto;
    font-size: 14px;
    li {
      line-height: 34px;
      font-size: 14px;
      color: #666;
      span {
        float: right;
        text-align: left;
        width: 40%;
        display: inline-block;
      }
    }
}
.ets-ui-acc-wrap .ets-ui-acc .ets-ui-acc-ft {
  background-color: #2e353e;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  height: 46px;
}
.ets-act-lpn-section table {
  border-color: #666;
}
.ets-act-lpn-section table td, .ets-act-lpn-section table th {
  padding: 6px;
  border-color: #666;
}
.ets-act-lpn-section table td:first-child {
  display: none;
}

.ets-act-lpn-section table td[colspan$='3']  {
  display: table-cell;
  line-height: 22px;
}
